/* CSS declarations go here */
.heading{
  text-align: center;
}
.form-group{
  display: inline-block;
}
.form-control{
  width:150px;
}
.btn{
  display: inline;
}
#chartContainer{
  width: 50%;
  height:300px;
}
