/* CSS declarations go here */
.heading{
  text-align: center;
}
.form-group{
  display: inline-block;
}
.form-control{
  width:150px;
}
.btn{
  display: inline;
}
.map-container {
  width: 800px;
  max-width: 100%;
  height: 300px;
}
